<p id="notice"><%= notice %></p>

<h1>Validation Patterns</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @validation_patterns.each do |validation_pattern| %>
      <tr>
        <td><%= validation_pattern.name %></td>
        <td><%= link_to 'Show', validation_pattern %></td>
        <td><%= link_to 'Edit', edit_validation_pattern_path(validation_pattern) %></td>
        <td><%= link_to 'Destroy', validation_pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Validation Pattern', new_validation_pattern_path %>
